#form {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 2rem;
}

.content {
    width: 100%;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #EFE99A;
    color: #29293F;
    padding: 1rem;
}

.content label {
    font-size: 1.25rem;
    line-height: 1.5;
}

#form input {
    padding: 12px 20px;
    width: 100px;
    text-align: center;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;
    transition: 0.3s all ease;
}

#form input:hover,
#form input:focus {
   outline: 2px solid skyblue;
   transition: 0.3s all ease;
}

#form span {
    font-size: 1.25rem;
}

.content.btnContent {
    width: 100%;
    gap: 1rem;
    border-radius: 12px;
}

.content.btnContent .btn {
    padding: 16px 20px;
    width: 140px;
    height: 50px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.3s all ease;
}

.btn.submitBtn {
    background: #0AAF6B;
    color: #fff;
}

.btn.refreshBtn {
    background: rgb(232, 61, 61);
    color: #fff;
}

.btn.refreshBtn:hover, 
.btn.submitBtn:hover {
    background: #29293F;
    transition: 0.3s all ease;
}

@media (max-width: 640px) {
    #form {
        padding: 0;
        row-gap: 0;
    }
    .content {
        border-radius: 12px;
        padding: 0.75rem;
    }

    #form span,
    #form label {
        font-size: 1.1rem;
    }
}