@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.App {
  min-height: 100vh;
  padding: 0.35rem;
  background: #141214;
  color: #fff;
  display: flex;
  justify-content: center;
}