@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.App {
  min-height: 100vh;
  padding: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}